.fb{
    text-align: center;
    color: blue;
    margin:10px;
    margin-top: 100px;
}
.information{
    border: 2px solid black;
    width: fit-content;
    margin:100px auto;
    margin-top: 0px;
    padding: 20px;
    text-align: center;
    background-color: rgb(36, 157, 228) (131,145,172) ;
    border-radius: 8px;


}
.login{
    padding: 10px;
    border: 2px;
    text-align: center;
    background-color: blue;
    border-radius: 8px;
    color:aliceblue;

}
.login:active{
    background-color:rgb(6, 139, 228) ;
    color: blue;
}